#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Top Navigation */ }
  #wrapper #page-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
    transition: 300ms ease all;
    backface-visibility: hidden;
    padding-top: 54px;
    padding-left: 50px;
    /* Side Navigation */ }
    #wrapper #page-wrapper .side-nav {
      background-color: #74A5D8;
      box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3); }
      #wrapper #page-wrapper .side-nav li {
        display: flex;
        justify-content: space-around; }
      #wrapper #page-wrapper .side-nav li, #wrapper #page-wrapper .side-nav a {
        width: 226px; }
      #wrapper #page-wrapper .side-nav li.user {
        display: block;
        color: #F8F8F8;
        padding-top: 10px; }
        #wrapper #page-wrapper .side-nav li.user i {
          font-size: 52px; }
      #wrapper #page-wrapper .side-nav li.dropdown ul.dropdown-menu.sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: 0px;
        background-color: #74A5D8; }
        #wrapper #page-wrapper .side-nav li.dropdown ul.dropdown-menu.sub-menu li a {
          color: #F8F8F8; }
      #wrapper #page-wrapper .side-nav li.dropdown:hover ul.dropdown-menu.sub-menu {
        visibility: visible;
        display: block; }
    #wrapper #page-wrapper .side-nav > li > a {
      font-size: 18px !important;
      color: #F8F8F8 !important; }
    #wrapper #page-wrapper .side-nav > li.active > a {
      background-color: #2196f3 !important;
      color: #fff !important; }
    #wrapper #page-wrapper .side-nav li a:hover,
    #wrapper #page-wrapper .side-nav li a:focus {
      outline: none;
      background-color: #2196f3 !important;
      color: #fff !important; }
    @media (min-width: 768px) {
      #wrapper #page-wrapper .side-nav {
        position: absolute;
        top: 56px;
        bottom: 0;
        left: -175px;
        width: 225px;
        padding-bottom: 40px; }
      #wrapper #page-wrapper .side-nav > li > a {
        width: 226px; } }
  #wrapper .navbar {
    min-height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  #wrapper .navbar-inverse {
    background-color: #F8F8F8;
    border-bottom: 1px solid #e7e7e7; }
    #wrapper .navbar-inverse .navbar-header .sidebar-toggle {
      background: transparent;
      border: 0;
      position: relative;
      float: left;
      width: 50px;
      padding: 15px;
      font-size: 18px;
      height: 54px; }
      #wrapper .navbar-inverse .navbar-header .sidebar-toggle:focus {
        outline-width: 0; }
    #wrapper .navbar-inverse .navbar-header .navbar-brand {
      color: #777;
      font-size: 18px;
      height: 54px;
      padding-left: 0; }
      #wrapper .navbar-inverse .navbar-header .navbar-brand:hover {
        color: #74A5D8; }
      #wrapper .navbar-inverse .navbar-header .navbar-brand img {
        width: 100px; }
  #wrapper .top-nav {
    padding: 0 15px;
    display: flex; }
  #wrapper .top-nav > li {
    display: inline-block; }
  #wrapper .top-nav > li > a {
    padding: 15px 20px;
    line-height: 24px;
    color: #2196f3; }
  #wrapper .top-nav > li > a:hover,
  #wrapper .top-nav > li > a:focus,
  #wrapper .top-nav > .open > a,
  #wrapper .top-nav > .open > a:hover,
  #wrapper .top-nav > .open > a:focus {
    color: #fff;
    background-color: #74A5D8; }
  #wrapper .top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  #wrapper .top-nav > .open > .dropdown-menu > li > a {
    white-space: normal; }
  #wrapper ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto; }
  #wrapper li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #wrapper li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px; }
  #wrapper li.message-footer {
    margin: 5px 0; }
  #wrapper ul.alert-dropdown {
    width: 200px; }

#wrapper.show-nav #page-wrapper {
  -webkit-transform: translateX(175px);
  transform: translateX(175px); }

@media (max-width: 768px) {
  #wrapper .navbar-inverse {
    display: flex; }
    #wrapper .navbar-inverse .navbar-header .navbar-toggle {
      padding: 1px 6px;
      margin: 0;
      font-size: 18px;
      line-height: 54px; }
    #wrapper .navbar-inverse .navbar-header .sidebar-toggle {
      display: none; }
    #wrapper .navbar-inverse .navbar-header .navbar-brand {
      line-height: 54px;
      padding: 0; }
    #wrapper .navbar-inverse .top-nav {
      position: absolute;
      right: 0;
      padding-right: 0;
      height: 100%; }
  #wrapper #page-wrapper .navbar-collapse ul.side-nav {
    margin-top: 0; } }

