#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Top Navigation */
  /* Side Navigation */ }
  #wrapper #page-wrapper {
    width: 100%;
    height: 100%;
    min-height: 800px;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding-top: 54px;
    padding-left: 0; }
  #wrapper .navbar {
    min-height: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
  #wrapper .navbar-inverse {
    background-color: #F8F8F8;
    border-bottom: 1px solid #e7e7e7; }
    #wrapper .navbar-inverse .navbar-header .sidebar-toggle {
      background: transparent;
      border: 0;
      position: relative;
      float: left;
      padding: 15px 20px;
      font-size: 18px;
      height: 54px; }
      #wrapper .navbar-inverse .navbar-header .sidebar-toggle:focus {
        outline-width: 0; }
    #wrapper .navbar-inverse .navbar-header .navbar-brand {
      color: #777;
      font-size: 18px;
      height: 54px;
      padding-left: 0; }
      #wrapper .navbar-inverse .navbar-header .navbar-brand:hover {
        color: #74A5D8; }
  #wrapper .top-nav {
    padding: 0 15px;
    display: flex;
    justify-content: normal; }
  #wrapper .top-nav > li {
    display: inline-block; }
  #wrapper .top-nav > li > a {
    padding: 15px 20px;
    line-height: 24px; }
  #wrapper .top-nav > li > a:hover,
  #wrapper .top-nav > li > a:focus,
  #wrapper .top-nav > .open > a,
  #wrapper .top-nav > .open > a:hover,
  #wrapper .top-nav > .open > a:focus {
    color: #fff;
    background-color: #74A5D8; }
  #wrapper .top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  #wrapper .top-nav > .open > .dropdown-menu > li > a {
    white-space: normal; }
  #wrapper ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto; }
  #wrapper li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  #wrapper li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px; }
  #wrapper li.message-footer {
    margin: 5px 0; }
  #wrapper ul.alert-dropdown {
    width: 200px; }
  @media (min-width: 768px) {
    #wrapper .side-nav {
      position: absolute;
      top: 56px;
      left: -225px;
      width: 225px;
      border: 1px solid #e7e7e7;
      background-color: #F8F8F8;
      bottom: 0;
      padding-bottom: 40px;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
    #wrapper .side-nav > li > a {
      width: 225px;
      color: #2196f3 !important; }
    #wrapper .side-nav > li.active > a {
      background-color: #74A5D8 !important;
      color: #fff !important; }
    #wrapper .side-nav li a:hover,
    #wrapper .side-nav li a:focus {
      outline: none;
      background-color: #74A5D8 !important;
      color: #fff !important; } }

#wrapper.show-nav #page-wrapper {
  -webkit-transform: translateX(225px);
  transform: translateX(225px); }

